/**
*
* 0.0.elements 
*
**/
body{
    color :#DDD;
    background-color: #FFF;
}
html,body{
    font-family: cursive,"ヒラギノ角ゴ Pro W3","メイリオ",sans-serif;
}
.overflow_hide_wrap{
    overflow: hidden;
}
.main{
    color:#666;
}
a,
a:link,
a:visited,
a:hover,
a:active{
    text-decoration:none;
    color:#888;
}
button{
    color:#777;
}
h3{
    border-bottom:solid 1px #DDD;
    border-left:dashed 1px #DDD;
    padding-bottom:1vh;
    padding-left:5vh;
}
ul {
    list-style:none;
}
.exmenu li{
    transition:1s;
    margin-bottom:1vh;
    border:1px dashed #FFF;
}
.exmenu li:hover{
    opacity: .5;
    transition:1s;
    border:1px dashed #888;
    border-radius: 2vh;
    padding-top:0;
    padding-bottom:0;
    padding-left:6vh;
}
i{
    transition:.3s;
}
i:hover{
    opacity: .7;
    transition:.3s;
}
img{
    height:auto;
    border:dotted 1px #FFF;
    border-radius: 10%;
    transition:.3s;
}
img:hover{
    border:dashed 5px #FFF;
    border-radius: 10%;
    box-shadow: 3vh 3vh 10vh #888;
    transition:.3s;
}

/**
 *
 * 1.00 for aboutme.html css
 *
 **/
 
/** 1.1.header **/
header{
    position:fixed;
    top:0;
    left:0;
    right:0;
    z-index: 10;
    color:#888;
    background-color:rgba(255,255,255,.7);
    padding:2vh 0 1vh 0;
    box-shadow: 0 1px 4px #444;
}
.header_menu{
    padding-top:2vh;
    padding-bottom:1vh;
}
.extend_header{
    display:none;
    top:0;
    background-color:rgba(255,255,255,.7);
    color:#888;
    padding:4vh 0 4vh 0;
    font-family: cursive;
    font-size:4vh;
}
.header_logo_font {
    font-family: cursive, serif;
    font-size:15px;
    letter-spacing: 1vh;
    line-height:0.8em;
}
.header_bar{
    padding-top:1vh;
}
/** 1.2.main **/
.top_message{
    color:#555;
    text-align: center;
    background-color: rgba(255,255,255,.8);
    letter-spacing: 4vh;
    padding-top:30vh;
    padding-bottom:10vh;
}
/** 1.2.1.main_contents **/
.main_container{
    border:solid 1px #888;
    padding-top:3vh;
    padding-right:5vh;
    padding-bottom:20vh;
    padding-left:3vh;
    background-color: white;
    box-shadow: 0px 1px 15px;
}
.section{
    padding-bottom:10vh;
}
.java_font{
    font-family: 'Vidaloka', serif;
    font-size:48px;
    letter-spacing: -6px;
    padding-left:-3vh;
    text-shadow: 1px 1px 3px;
}
.skill_child{
    text-align: center;
    margin-top:5vh;
    margin-bottom:5vh;
}
.profile,
.environment{
    position:relative;
    padding-top:5vh;
}
.profile_text{
    text-align: left;
    padding:2vh;
    line-height: 1.5em; 
}
.profile_back-image,
.environment_back-image{
    position:absolute;
    top:15vh;
    opacity: .2;
    font-size:6vh;
    overflow: hidden
}
.profile_back-image{
    right:2px;
}
.environment_back-image{
    right:8vh;
}
.img_cat{
    width:80%;
    height:auto;
}
/** 1.2.2.side_bar **/
.side-bar_container{
    padding-right:2vh;
    padding-bottom:80vh;
    padding-left:2vh;
    background-color: white;
}
.side-bar_photo{
    padding:4vh;
    margin-top:3vh;
    border:solid 1px #888;
    background-color: white;
}

/** 1.3.footer**/
footer{
    background-color: #FFF;
}
.site_map_container{
    margin-top:5vh;
    padding-top:7vh;
    padding-bottom:5vh;
    box-shadow: 3px 0px 12px #888;
}
.site_map_container_wid{
    text-align: center;
    width:60%;
}
.end_logo{
    text-align: right;
    margin-bottom:20vh;
}

/**  4.other **/
/*グリッド表示用class*/
.sample_box{
    padding-top:2vh;
    padding-bottom:2vh;
    margin-bottom:1vh;
}/*********************/
.space{
    padding-top:10vh;
}
/** トップのオブジェクト用 **/
.curtain_L{
    position:absolute;
    top:-300vh;
    left:-20vh;
    padding:0 15vh 600vh 15vh;
    border-radius: 100%;
    background-color: black;
    z-index:-1;
}
.curtain_mini{
    position:fixed;
    top:60vh;
    left:1vh;
    padding:6vh;
    border-radius: 100%;
    background-color: rgba(0,255,255,.8);
    z-index: -1
}
.curtain_mini_fix{
    position:absolute;
    top:40vh;
    right:1vh;
    padding:6vh;
    border-radius: 100%;
    background-color: rgba(255,0,255,.8);
    z-index: -1
}


/**
 *
 * 2.00 for index.html css
 *
 */
 
/** 2.1.main**/
.index_wrap{
    background-position: center center;
    background-attachment: fixed;
    background-color: #464646;
    background-image: url("../images/Gradation.jpg");
    background-repeat: no-repeat; 
    background-size:cover;
}
.portfolio{
    margin-top:20vh;
    margin-bottom:20vh;
    color:#444;
    font-size:40vh;
    background-color: rgba(0,0,0,.3);
    box-shadow: 5px 0px 20px #FFF;
}
.portfolio_flame{
    color:#DDD;
    margin:5vh 10vh 5vh 10vh;
    width:40vh;
    border-radius: 100%;
    text-align: center;
    /*background-color: #EEE;*/
    letter-spacing: -3px;
    box-shadow: 0px 100px 200px #FFF;
}
.section_aboutme,
.section_gallery{
    height:320px;
    margin-bottom:2vh;
    text-align: center;
}
.section_wrap{
    margin-bottom:30vh;
}
/** 2.2.ohter **/
.curtain_mini_index,
.curtain_mini_index_2,
.curtain_mini_index_3{
    position:fixed;
    border-radius: 100%;
    background-color: rgba(255,255,255,.3);
}
.curtain_mini_index{
    top:50vh;
    left:10vh;
    padding:6vh;
    background-color: rgba(255,255,255,.1);
}
.curtain_mini_index_2{
    top:70vh;
    right:10vh;
    padding:4vh;
    background-color: rgba(255,255,255,.5);
}
.curtain_mini_index_3{
    top:10vh;
    right:30vh;
    padding:10vh;
}


/**
 *
 * 3.00 for Mahjong.php css
 *
 **/
 .blog-flame{
     padding:21vh 6vh 6vh 6vh;
 }
 .blog-first{
    margin-top:4vh;
 }
 .blog-text{
    padding:4vh 3vh 0 3vh;
    margin-bottom: 10vh;
 }
 .cnfu_image{
    width:50%;
 }
 .top_mahjong{
    width:60%;
    margin-bottom : 8vh;
    border-radius: 0;
    border: 0px solid #888;
 }
 .top_mahjong:hover{
    border-radius: 0;
    border: 0px solid #888;
 }
 .blockquote_container{
    margin-top:4vh;
    margin-bottom:4vh;
    padding:1vh 0vh 2vh 3vh;
    box-shadow: inset 0px -2px 5px #888;
 }
 .image_div{
     text-align: center
 }
@media screen and (max-width:560px){
    .blog-flame{
         padding:21vh 1vh 6vh 1vh;
     }
    .blog-text{
        padding:4vh 0vh 0vh 0vh;
    }
    .blockquote_container{
        margin-top:4vh;
        margin-bottom:4vh;
        padding:1vh 0vh 7vh 0vh;
        box-shadow: inset 0px -2px 5px #888;
     }

}