ul,
li{
    list-style:none;
}
header{
    padding:10px 0 0 0;
    line-height: 1em;
    box-shadow: 0px 4px 20px #888;
}
.header_container{
    border-bottom:1px solid #888;
    vertical-align: middle;
}


.welcome{
    text-align:center; 
    cursor: pointer;
}
.row{
    text-align: center;
}
.main_menu{
    margin:0 0 1em 0;
}
.container{
    margin:0 0 10px 0;
}
.top_btn{
    margin:0 0 5px 0 ;
}
.bg{
    
}
.text-info{
    border:solid 1px #888;
    border-radius:30px;
    margin:30px;
    padding:10px;
}
.list-unstyled > li{
    border:1px solid #888;
    /*margin を挿入するとインデントが崩れる*/
}
.white_space{
    height:50px;
}
.bar-graph{
    letter-spacing: 5px;
    margin-bottom:5px;
    /*bootstrapと競合するので個別指定*/
}
.study{
    width:60%;
}
.com{
    width:30%;
}